<div class="action-pad">
    <div class="actions">
        <button class="action" (click)="resetPokemon()"></button>
    </div>
    <div class="cross">
        <button class="cross-button up" (click)="previousPokemon()"></button>
        <button class="cross-button right" (click)="nextImage()"></button>
        <button class="cross-button down" (click)="nextPokemon()"></button>
        <button class="cross-button left" (click)="previousImage()"></button>
        <button class="cross-button center" (click)="resetImage()"></button>
    </div>
</div>